<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Previsão do Tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-end">Lençóis Paulista / SP</ion-card-subtitle>
    <ion-item lines="none">
      <ion-label>
        <img src="">
      </ion-label>
    </ion-item>
    <ion-card-title>Céu parcialmente nublado</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none">
      <ion-label>
        item
        <ion-icon name="partly-sunny-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
